@import url(./Montserrat/Montserrat-Black.ttf);
.body {
	/*width: 1280px;
	height: 650px;*/
	font-family: "Montserrat", sans-serif;
}
.parent {
	padding-bottom: 25.5px;
	padding-top: 25.5px;
	text-align: center;
}
.parentitem {
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
}
.parentlist {
	color: #ff0000;
	text-decoration: none;
	margin-left: 72px;
}

.photo {
	width: 100%;
}
.topic {
	margin-top: 49px;
	font-weight: bold;
	text-align: center;
	font-size: 22px;
	text-transform: uppercase;
	margin-bottom: 38px;
	letter-spacing: 3.3px;
}
.deskription {
	text-align: center;
	line-height: 26px;
	letter-spacing: 2.4px;
}
.deskriptiontext {
	margin: 0px 67.5px 38px;
}
.nav {
	margin-top: 66px;
	text-align: center;
}
.navbtm {
	font-size: 12px;
	color: white;
	background: red;
	width: 191px;
	height: 51px;
	letter-spacing: 1.4px;
	font-weight: bold;
	border-radius: 4px;
	border: unset;
}
.law {
	text-align: right;
	margin-top: 82px;
	margin-right: 105px;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 2.4px;
}
